@font-face {
  font-family: MontSerrat-Regular;
  src: url(~@/assets/fonts/Montserrat-Regular.ttf) format('truetype');
}
@font-face {
  font-family: MontSerrat-Light;
  src: url(~@/assets/fonts/Montserrat-Light.ttf) format('truetype');
}
@font-face {
  font-family: MontSerrat-Medium;
  src: url(~@/assets/fonts/Montserrat-Medium.ttf) format('truetype');
}
@font-face {
  font-family: MontSerrat-SemiBold;
  src: url(~@/assets/fonts/Montserrat-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: MontSerrat-Bold;
  src: url(~@/assets/fonts/Montserrat-Bold.ttf) format('truetype');
}
@font-face {
  font-family: MontSerrat-ExtraBold;
  src: url(~@/assets/fonts/Montserrat-ExtraBold.ttf) format('truetype');
}
