html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: linear-gradient(rgba(229, 229, 229, 0.3), rgba(161, 165, 171, 0.85));
  -webkit-box-shadow: inset 0 0 6px rgba(245,246,248,0.8);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: linear-gradient(rgba(229, 229, 229, 0.3), rgba(161, 165, 171, 0.85));
}
 /* Let's get this party started */
 ::-webkit-scrollbar {
  width: 8px;
}
/*NProgress*/
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #FF6549!important;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 5px !important;
}

/* Fancy blur effect */

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}
.round {
  border-radius: 1rem !important;
}
.dot {
  height: 10px;
  width: 10px;
  background-color: #DFE6EF;
  border: 1px solid #dcdcdc;
  border-radius: 50%;
  display: inline-block;
  margin: 3px;
}
.dot.active {
  width: 19px !important;
    background-color: #10B382 !important;
    border: 1px solid #10B382;
    border-radius: 40% !important;
}
.cursor-pointer {
  cursor: pointer;
}
.f-green {
  color: #10B382;
}
.f-semiBlack {
  color: #4E5263;
}
.f-gray {
  color: #9DA2B9;
}
.f-white {
  color: white;
}
h2 {
  font-family: MontSerrat-SemiBold;
}
h3 {
  font-family: MontSerrat-Regular;
}
h6 {
  font-family: MontSerrat-SemiBold;
}
.vl-green {
  border-left: 2px solid #10B382;
  margin-left: 18px;
  height: 100px;
}
.vl-gray {
  border-left: 2px solid #C8CCDF;
  margin-left: 18px;
  height: 100px;
}
.carousel-3d-slide {
  background-color: transparent !important;
}
@media (min-width: 1200px) {
  .container.v2 {
    max-width: 1270px !important;
  }
}
@media(min-width: 576px) {
  #loansPage .jumbotron {
    padding: 1rem 2rem !important;
  }
}
.btn.btn-warning {
  background: linear-gradient(180deg, rgba(255,158,44,1) 0%, rgba(255,158,44,1) 30%, rgba(255,114,39,1) 100%) !important;
  border : none;
  color: white;
  font-family: MontSerrat-SemiBold;
  border-radius: 7px;
  padding-top: 11px;
  padding-bottom: 11px;
}
.btn.btn-outline-success {
  color: #10B382 !important;
  font-family: MontSerrat-SemiBold;
  border : 1 px solid #10B382 !important;
}
.btn.btn-success {
  background: linear-gradient(153deg, rgba(57,229,97,1) 0%, rgba(57,229,97,1) 30%, rgba(16,179,130,1) 100%) !important;
  font-family: MontSerrat-SemiBold;
  border : none;
}
.btn.btn-outline-secondary {
  font-family: MontSerrat-SemiBold;
  border : 1px solid #C8CCDF;
  color: #9DA2B9 !important;
}
#loansPage .invest-stat.hero-image {
  height: 108vh;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: #fff;
}
#loansPage .hero-image {
  height: 92vh;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: #fff;
}
#loansPage .hero-text{
  margin-top: 7rem;
}
#loansPage .hero-text h2{
  font-family: MontSerrat-Bold;
}
#loansPage .hero-text p{
  line-height: 36px;
  font-family: MontSerrat-Light;
  color: #757A91;
}
#loansPage .hero-text p strong {
  font-family: MontSerrat-SemiBold;

}
#homePage .hero-image {
  height: 114vh;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: #fff;
}

#homePage .content-hero {
  margin-top: 6rem;
}
#homePage .content-hero h2 {
  font-family: MontSerrat-Regular;
    color: white;
}
#homePage .content-hero h1 {
  font-family: MontSerrat-SemiBold;
    color: white;
    line-height: 54px;
}
#homePage .content-hero ul {
  width: 86%;
  padding-left: 0;
}
#homePage .content-hero ul li, p {
  font-family: MontSerrat-Regular;
    color: white;
    font-size: 15px;
    line-height: 33px;
}

#homePage .reason-why {

}

#homePage .reason-why p {
  font-size: 14px;
  font-family: MontSerrat-Light;
  line-height: 28px;
}

#homePage .how-to {
  margin-top: 8rem;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity .6s
}
.fade-enter,
.fade-leave-to{
  opacity: 0
}
.statt {
  margin-top: 6rem;
}
.statt .v2.container {
  margin-top: 8rem;
}
.statt .bg-white {
  position: relative;
  border-radius: 10px;
}
.statt .bg-white img#bg-down{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.statt .bg-white p {
  color: #757A91;
  font-family: MontSerrat-Regular;
  font-size: 14px;
}

#homePage .story .mt-5 p.title {
  font-family: MontSerrat-Regular;
  font-size: 18px;
}

#homePage .story .mt-5 p.content {
  font-family: MontSerrat-Light;
  font-size: 14px;
  line-height: 22px;
}

#homePage .activity{
  position: relative;
  margin-top: 7rem;
  background: linear-gradient(180deg, rgb(38 226 81) 0%, rgb(40 156 67 / 79%) 23%, rgba(16,179,130,1) 100%);
}

#homePage .they-say {
  position: relative;
  margin-top: 7rem;
  width: 65%;
}
#homePage .they-say p {
  font-family: MontSerrat-Light;
    line-height: 30px;
}
#homePage .story #story-slide .carousel-3d-container .prev span, #homePage .story #story-slide .carousel-3d-container .next span {
  font-size: 26px;
    background: white;
    color: #10B382;
    padding: 1px 14px;
    border-radius: 3rem;
}
#homePage .they-say #say-slide .carousel-3d-container .carousel-3d-slide {
  border-radius: 50%;
}
#homePage .they-say #say-slide .carousel-3d-container .carousel-3d-slide.right-1, #homePage .they-say #say-slide .carousel-3d-container .carousel-3d-slide.right-2,
#homePage .they-say #say-slide .carousel-3d-container .carousel-3d-slide.left-1, #homePage .they-say #say-slide .carousel-3d-container .carousel-3d-slide.left-2 {
  opacity: .6 !important;
}

#homePage .our-partner {
    background: #F8F8FA;
}

#homePage .our-partner #partner-slide .carousel-3d-slide img {
  width: auto !important;
}
#homePage .our-partner #partner-slide  .carousel-3d-container .prev,  #homePage .our-partner #partner-slide  .carousel-3d-container .next {
  line-height: 0px !important;
}
#homePage .our-partner #partner-slide  .carousel-3d-container .prev span, #homePage .our-partner #partner-slide   .carousel-3d-container .next span {
  font-size: 19px;
    background: white;
    color: #10B382;
    padding: 1px 13px 5px;
    border-radius: 50%;
    box-shadow: 1px 3px 18px #cec5c5;
}

